<div class="container my-5">
  <div class="row">
    
    <div class="col-lg-6">
      <div class="card border-light mb-3">
        <div class="card-header">
          <h2>
            <%= @recipe.cooking_name %>
          </h2>
          <h6 class="card-subtitle text-muted">
            <%= @recipe.genre.name %>
          </h6>
        </div>
        <% if user_signed_in? && current_user.id == @recipe.user_id %>
          <div class="btn-group mt-1" role="group" aria-label="Basic example">
            <%= link_to '編集', edit_recipe_path(@recipe.id), method: :get, class:"btn btn-success" %>
            <%= link_to '削除', recipe_path(@recipe.id), method: :delete, class:"btn btn-dark" %>
          </div>
        <% end %>
        <div class="card-body">
          <h6 class="card-text">
            <div class="badge badge-danger  ml-2">必須食材</div>
            <% @recipesfoods.each do |i| %>
              <% @food = Food.find(i.food_id) %>
              <ul class="my-1">
                <li><%= @food.name %></li>
              </ul>
            <% end %>
          </h6>
          <div class="card-text">
            <div class="badge badge-info  ml-2">作り方</div>
            <div class="ml-4">
              <%= @recipe.how_to_cook %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <%= image_tag @recipe.image, class:"img-thumbnail shadow", height: '600px', width: '600px' %>
    </div>
  
  </div>
</div>